<div class="panel panel-danger">
  <div class="panel-heading">
    Edit place
  </div>

  <div class="panel-body">
    <%= render 'shared/form' %>
  </div>
  <%= link_to "Back", events_path, class: "btn btn-danger" %>
</div>
