
<div class="container">
          <div class="jumbotron well">
            <h1 class="display-3">CodaisseurUp Amsterdam</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-danger" href="users/sign_in" role="button">Welcome</a></p>
          </div>

  <hr>
    <div class="row marketing well">
           <div class="col-lg-6">
             <h4>Subheading</h4>
             <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

             <h4>Subheading</h4>
             <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
           </div>

           <div class="col-lg-6">
             <h4>Subheading</h4>
             <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

             <h4>Subheading</h4>
             <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
           </div>
    </div>

         <!-- <div class="well">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque reprehenderit, quibusdam, ad ratione nulla atque. Accusantium aspernatur optio quasi est. Consequuntur voluptate ad, perspiciatis sunt fuga sed deleniti magni? Aspernatur eum ipsam est doloribus necessitatibus cupiditate, repellendus in beatae voluptatum, expedita veniam, aperiam molestiae ea a corrupti laborum minima nulla. Non officiis et facilis eveniet tempore, labore nemo reprehenderit, necessitatibus rerum autem maxime odit quae ut omnis dolore eius architecto tenetur illum. Molestias dolores ex praesentium natus distinctio illum doloremque accusamus in fuga corporis, eos repellat quibusdam neque ipsa voluptatem alias excepturi soluta sunt optio quia nisi unde asperiores! Quod, dicta officiis repellendus nihil ipsum quia quo, doloribus nisi iste nesciunt est repellat architecto modi. Recusandae nemo dolorem aperiam voluptas repellendus ullam fugit possimus molestiae natus ducimus, voluptates consequatur esse libero aliquam sequi deserunt a sit laboriosam similique accusamus veritatis excepturi. Omnis neque ipsa eligendi ea magni nesciunt, ducimus veniam porro aliquam molestias eius commodi laborum, accusamus iste hic atque tempora? Minima enim deleniti maxime dolores, pariatur quia, neque nesciunt aspernatur hic a doloremque odit quo adipisci saepe consectetur nulla, itaque, impedit dicta iure at deserunt repellat. Neque iure officia sint aspernatur nemo voluptas optio alias ad veritatis eius vero, porro atque ipsa consequuntur nihil est pariatur rem distinctio, dolores ea, explicabo repudiandae. Alias quam autem quos dolore officia, nisi inventore debitis magni excepturi blanditiis minus ea porro assumenda, perspiciatis delectus mollitia. Adipisci, consectetur laudantium sint. Quia illum aperiam nemo tempora quam ullam, repudiandae omnis explicabo adipisci voluptatem, soluta ut non similique debitis aut a. Suscipit delectus illo, inventore totam provident voluptate illum similique adipisci. Quasi facilis molestias esse eligendi, autem consequatur voluptatibus harum dignissimos expedita ratione nostrum culpa unde, soluta sapiente pariatur iusto ipsa aut ipsum explicabo repudiandae repellendus, rerum totam. Id quaerat eum cumque optio fugiat, earum autem? Beatae tempora, aut non unde autem modi vero mollitia, voluptatibus sunt voluptas iure distinctio tenetur quisquam, praesentium eos error deleniti vitae doloribus temporibus rem. Sed totam facilis architecto officia illo dolore harum doloribus unde ipsam sequi deserunt provident aut sapiente quis et nulla at incidunt repellat neque dolorem sunt, iste, doloremque iure voluptas commodi. Temporibus sit velit officiis dolores, omnis, excepturi nulla accusamus odio nam, dignissimos ut vitae sequi similique sunt dicta harum cupiditate. Unde laudantium hic nostrum, quaerat tempora cumque dolor voluptatum nemo doloribus eos sequi nam veritatis commodi sint, dicta saepe sed architecto repellendus velit illo esse. Architecto suscipit, voluptate voluptates laudantium eligendi repudiandae, cumque tenetur error voluptatibus soluta quibusdam. Dicta animi molestiae nulla, aliquid, quod ipsa! Aliquam at saepe quam hic culpa sed eaque facere iste perferendis magnam nisi, dolore, soluta sint impedit velit, deserunt esse dolor debitis qui fugiat itaque inventore cupiditate incidunt. Cum sequi vel atque quaerat rem ipsam, eum deleniti exercitationem enim optio hic, quae, rerum quam. Impedit quo voluptas doloremque aut nisi architecto adipisci possimus consectetur ipsum sapiente natus a quasi dolor reiciendis modi, placeat perspiciatis suscipit quos. Sequi enim neque distinctio sunt. Maiores facere, aut dolorum possimus pariatur eaque quas expedita explicabo!
         </div> -->

</div>
